<launch>
    <arg name="debug" default="false" />
    <arg name="planner_enable" deafult="false" />
    <include file="$(find mavproxy_ros)/launch/onclick_run.launch">
        <arg name="planner_enable" value="$(arg planner_enable)" />
        <arg name="controller_name" value="dog" />
        <arg name="start_ntrip" value="true" />
        <arg name="pland_enable" value="false" />
        <!-- dog命令的地址发送目标地址 -->
        <arg name="udp_host" default="192.168.1.103" />
        <arg name="udp_port" default="43893" />
        <!-- dog命令接收的地址 -->
        <arg name="udp_server_host" default="0.0.0.0" />
        <arg name="udp_server_port" default="43893" />
        <arg name="debug" value="$(arg debug)" />
    </include>
</launch>