<launch>
    <arg name="debug" default="false" />
    <arg name="planner_enable" deafult="true" />
    <include file="$(find mavproxy_ros)/launch/onclick_run.launch">
        <arg name="planner_enable" value="$(arg planner_enable)" />
        <arg name="controller_name" value="drone" />
        <arg name="start_ntrip" value="true" />
        <arg name="pland_enable" value="true" />
        <arg name="pland_image_topic" value="/UAV0/sensor/video11_camera/image_raw" />
        <arg name="pland_image_compressed_topic" value="/UAV0/sensor/video11_camera/compressed" />
        <arg name="pland_camera_info_topic" value="/UAV0/sensor/video11_camera/cam_info" />
        <arg name="debug" value="$(arg debug)" />
    </include>
</launch>